# Preparation

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import sys
import time
from copy import deepcopy

np.set_printoptions(threshold=sys.maxsize)
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 40)

# filepath = '/content/drive/MyDrive/Data Science/Python/Data/'
filepath = 'D:\Google Drive\Google Drive (charlieblog888)\IMV\Data Science\Python\Data\\'

prod_ratio = 0.02

ext_c = '_' + str(prod_ratio)[3] + '.csv'
ext_e= '_' + str(prod_ratio)[3] + '.xlsx'

# Comparing the 2 Source Datasets

Steps
1. we found 2 similar datasets from Kaggle
2. so we want to find out if the smaller dataset is a **complete subset** of the larger dataset
3. on visual inspection, we saw the larger dataset has an extra field (column) called Attrition
4. the rest of the fields have the same names
5. steps:
- remove field Attrition to make the columns the same
- remove any records (rows) which has blank, null or nan fields
- count the number of records in each
- combine the datasets and count the duplicate records
- if it's the same count as the number of records in the smaller dataset, we conclude that the records in the smaller dataset are all found in the larger dataset

In [2]:
f1 = filepath + 'employee_attrition_test.csv'             # this is the smaller dataset
f2 = filepath + 'WA_Fn-UseC_-HR-Employee-Attrition.csv'   # this is the larger dataset

df1 = pd.read_csv(f1)
df2 = pd.read_csv(f2)

In [3]:
df1.shape     # df1 is 441 x 34

(441, 34)

In [4]:
df2.shape     # df2 is 1470 x 35 => 1 more column than df1

(1470, 35)

In [5]:
df1.columns   # df1 columns names

Index(['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [6]:
df2.columns   # df2 columns names      ... compare and see additional Attrition column

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [7]:
df2.drop(columns='Attrition',axis=1,inplace=True)  # drop extra columns for the time being to analyse the ds
df2.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [8]:
df1.isna().sum()    # df1 has records with blank, null or nan fields

Age                         55
BusinessTravel               5
DailyRate                   14
Department                   0
DistanceFromHome            54
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                3
MonthlyIncome                0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager         0
dtype: int64

In [9]:
df2.isna().sum()    # df2 does not havve records with blank, null or nan fields, thus there is no need to remove

Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [10]:
df1 = df1.dropna()     # remove records with blank, null or nan fields
df1.isna().sum()       # no more blanks rows

Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [11]:
df1.shape   #  left 324 rows after removing blanks rows (originally was 441)

(324, 34)

In [12]:
df3 = df2.append(df1)   # combine the 2 source datasets to count for duplicates in next step
z = df3.duplicated()    # count the duplicate 
z.sum()                 # 324 duplicates... This shows that there are no new info in the smaller dataset

324

# Dataset cleaning

## Read dataset

In [13]:
import numpy as np
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt
from sklearn.preprocessing import OneHotEncoder
import time
import random
from copy import deepcopy

pd.set_option('display.max_columns', 80)

In [14]:
file = filepath + 'WA_Fn-UseC_-HR-Employee-Attrition.csv'
df = pd.read_csv(file)
df.shape                 # the dataset has 1470 rows and 35 columns

(1470, 35)

## Remove redundant columns <br>(Ref Data Curation document)

In [15]:
df.columns        # list the columns from the dataset

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [16]:
# specify the columns to be removed
colremove = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']
# colremove = ['EmployeeCount', 'Over18', 'StandardHours']

In [17]:
# drop the columns
df.drop(columns=colremove,inplace=True)

In [18]:
print(df.columns)       # list the resultant columns
print(len(df.columns))  # number of columns left

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')
31

## Check for blanks, null, or nan fields

In [19]:
df.isna().sum()      # number of columns contain blanks, nulls or nan = 0, ie no action required

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Check for Duplicate Rows and Remove

In [20]:
df.duplicated().sum()     # count number of duplicate rows.  Zero => no action required

0

## Understand the data

In [21]:
df.describe()    # explain the statistics

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,2.721769,65.891156,2.729932,2.063946,2.728571,6502.931293,14313.103401,2.693197,15.209524,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,1.093082,20.329428,0.711561,1.106940,1.102846,4707.956783,7117.786044,2.498009,3.659938,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1009.000000,2094.000000,0.000000,11.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,2.000000,48.000000,2.000000,1.000000,2.000000,2911.000000,8047.000000,1.000000,12.000000,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,3.000000,66.000000,3.000000,2.000000,3.000000,4919.000000,14235.500000,2.000000,14.000000,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,4.000000,83.750000,3.000000,3.000000,4.000000,8379.000000,20461.500000,4.000000,18.000000,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,4.000000,100.000000,4.000000,5.000000,4.000000,19999.000000,26999.000000,9.000000,25.000000,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [22]:
colname = df.columns

for i,j in enumerate(colname):
    dl = list(set(df.iloc[:,i]))
    dl.sort()
    if len(dl) > 10:
        lim = 10
        dot = '.....'
    else:
        lim = len(dl)
        dot = ''        
    print(f'{colname[i]} ({str(type(df.iloc[:,i][0]))[8:-2]}):\n   {dl[0:lim]} {dot}\n')

Age (numpy.int64):
   [18, 19, 20, 21, 22, 23, 24, 25, 26, 27] .....

Attrition (str):
   ['No', 'Yes']

BusinessTravel (str):
   ['Non-Travel', 'Travel_Frequently', 'Travel_Rarely']

DailyRate (numpy.int64):
   [102, 103, 104, 105, 106, 107, 109, 111, 115, 116] .....

Department (str):
   ['Human Resources', 'Research & Development', 'Sales']

DistanceFromHome (numpy.int64):
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] .....

Education (numpy.int64):
   [1, 2, 3, 4, 5]

EducationField (str):
   ['Human Resources', 'Life Sciences', 'Marketing', 'Medical', 'Other', 'Technical Degree']

EnvironmentSatisfaction (numpy.int64):
   [1, 2, 3, 4]

Gender (str):
   ['Female', 'Male']

HourlyRate (numpy.int64):
   [30, 31, 32, 33, 34, 35, 36, 37, 38, 39] .....

JobInvolvement (numpy.int64):
   [1, 2, 3, 4]

JobLevel (numpy.int64):
   [1, 2, 3, 4, 5]

JobRole (str):
   ['Healthcare Representative', 'Human Resources', 'Laboratory Technician', 'Manager', 'Manufacturing Director', 'Research Director', 'Research Scientist', 'Sales Executive', 'Sales Representative']

JobSatisfaction (numpy.int64):
   [1, 2, 3, 4]

MaritalStatus (str):
   ['Divorced', 'Married', 'Single']

MonthlyIncome (numpy.int64):
   [1009, 1051, 1052, 1081, 1091, 1102, 1118, 1129, 1200, 1223] .....

MonthlyRate (numpy.int64):
   [2094, 2097, 2104, 2112, 2122, 2125, 2137, 2227, 2243, 2253] .....

NumCompaniesWorked (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

OverTime (str):
   ['No', 'Yes']

PercentSalaryHike (numpy.int64):
   [11, 12, 13, 14, 15, 16, 17, 18, 19, 20] .....

PerformanceRating (numpy.int64):
   [3, 4]

RelationshipSatisfaction (numpy.int64):
   [1, 2, 3, 4]

StockOptionLevel (numpy.int64):
   [0, 1, 2, 3]

TotalWorkingYears (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] .....

TrainingTimesLastYear (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6]

WorkLifeBalance (numpy.int64):
   [1, 2, 3, 4]

YearsAtCompany (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] .....

YearsInCurrentRole (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] .....

YearsSinceLastPromotion (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] .....

YearsWithCurrManager (numpy.int64):
   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] .....

##  Data Conversion: Alter boolean from YES / NO (from <br>source dataset) to True / False (to feed Azure Machine<br> Learning)

- datatype of "Yes / No" = string
- AML does not recognise "Yes / No" datatype string as boolean
- AML is not able to convert string to boolean.  It can only convert int to boolean
- AML is able to convert numeric 0,1 to boolean, but since we are converting,<br> we convert directly to boolean True, False

(repeat above for OverTime)

In [23]:
print(type(df['Attrition'][0]))
df.head(3)

<class 'str'>

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Yes,15,3,2,0,7,3,3,0,0,0,0

In [24]:
df['Attrition'] = df['Attrition'].apply(lambda x: True if x.lower()=='yes' else False)
print(type(df['Attrition'][0]))
df.head(3)

<class 'numpy.bool_'>

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,True,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,False,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7
2,37,True,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Yes,15,3,2,0,7,3,3,0,0,0,0

In [25]:
print(type(df['OverTime'][0]))
df.head(3)

<class 'str'>

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,True,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,False,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,No,23,4,4,1,10,3,3,10,7,1,7
2,37,True,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Yes,15,3,2,0,7,3,3,0,0,0,0

In [26]:
df['OverTime'] = df['OverTime'].apply(lambda x: True if x.lower()=='yes' else False)
print(type(df['OverTime'][0]))
df.head(3)

<class 'numpy.bool_'>

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,True,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,True,11,3,1,0,8,0,1,6,4,0,5
1,49,False,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,False,23,4,4,1,10,3,3,10,7,1,7
2,37,True,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,True,15,3,2,0,7,3,3,0,0,0,0

## Save the Cleaned Dataset

In [27]:
file = filepath + 'Emp_Attrition (clean)' + ext_c
df.to_csv(file,index=False)

# Encode the Dataset ( One-Hot-Encoding )

In [28]:
file = filepath + 'Emp_Attrition (clean)' + ext_c

In [29]:
df = pd.read_csv(file)

In [30]:
def runOHE(df,col):
    
    dft = pd.get_dummies(df[col])
    df = df.drop(col,axis=1)
    df = df.join(dft,rsuffix='_'+col)    
    
    return df

In [31]:
df = runOHE(df,'BusinessTravel')
df = runOHE(df,'Department')
df = runOHE(df,'EducationField')
df = runOHE(df,'Gender')
df = runOHE(df,'JobRole')
df = runOHE(df,'MaritalStatus')

In [32]:
df.dtypes

Age                     int64
Attrition                bool
DailyRate               int64
DistanceFromHome        int64
Education               int64
                        ...
Sales Executive         uint8
Sales Representative    uint8
Divorced                uint8
Married                 uint8
Single                  uint8
Length: 51, dtype: object

In [33]:
# output for verification with cleaned dataset
#
fileOHE = filepath + 'Emp_Attrition (OHE)' + ext_c
df.to_csv(fileOHE,index=False)

###  Encode the Dataset ( Label-Encoding )

In [34]:
file = filepath + 'Emp_Attrition (clean)' + ext_c

In [35]:
df = pd.read_csv(file)

In [36]:
def runLABEL(df,col):
    
    df[col] = LabelEncoder().fit_transform(df[col])    
    return df

In [37]:
# for col in df.columns:
#     if df[col].dtype == np.number:
#         continue
#     df[col] = LabelEncoder().fit_transform(df[col])

df = runLABEL(df,'BusinessTravel')
df = runLABEL(df,'Department')
df = runLABEL(df,'EducationField')
df = runLABEL(df,'Gender')
df = runLABEL(df,'JobRole')
df = runLABEL(df,'MaritalStatus')

In [38]:
df.dtypes

Age                         int64
Attrition                    bool
BusinessTravel              int32
DailyRate                   int64
Department                  int32
DistanceFromHome            int64
Education                   int64
EducationField              int32
EnvironmentSatisfaction     int64
Gender                      int32
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobRole                     int32
JobSatisfaction             int64
MaritalStatus               int32
MonthlyIncome               int64
MonthlyRate                 int64
NumCompaniesWorked          int64
OverTime                     bool
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [39]:
# output for verification with cleaned dataset
#
fileLABEL = filepath + 'Emp_Attrition (LABEL)' + ext_c
df.to_csv(fileLABEL,index=False)

# Split Cleaned Dataset:

1. Train-Test Dataset
2. Production Dataset

In [40]:
#
fileOHE = filepath + 'Emp_Attrition (OHE)' + ext_c
df = pd.read_csv(fileOHE)

df_stay = df[df['Attrition']==False]
df_left = df[df['Attrition']==True]
print(f'{"Total number Employees":30} = {len(df):4}')
print(f'{"Number of Stay Employees":30} = {len(df_stay):4}')
print(f'{"Number of Left Employees":30} = {len(df_left):4}')

Total number Employees         = 1470
Number of Stay Employees       = 1233
Number of Left Employees       =  237

In [41]:
prod_stay = df_stay.sample(frac=prod_ratio,replace=False)
prod_left = df_left.sample(frac=prod_ratio,replace=False)
prod = prod_stay.append(prod_left)
test = df.append(prod).drop_duplicates(keep=False, inplace=False, ignore_index=True)
# sorry for the crude coding
attmat_col = ['DataSet','Stay','Left','Total']
attmat = pd.DataFrame(columns=attmat_col)
tmp1 = len(test[test['Attrition']==False])
tmp2 = len(test[test['Attrition']==True])
tmp3 = len(prod[prod['Attrition']==False])
tmp4 = len(prod[prod['Attrition']==True])
tmp5 = tmp1+tmp3
tmp6 = tmp2+tmp4
attmat = attmat.append(dict(zip(attmat_col,['Train-Test',tmp1,tmp2,tmp1+tmp2])),ignore_index=True)
attmat = attmat.append(dict(zip(attmat_col,['Prod',tmp3,tmp4,tmp3+tmp4])),ignore_index=True)
attmat = attmat.append(dict(zip(attmat_col,['Cleaned',tmp5,tmp6,tmp5+tmp6])),ignore_index=True)
attmat.set_index('DataSet')

            Stay Left Total
DataSet
Train-Test  1208  232  1440
Prod          25    5    30
Cleaned     1233  237  1470

## Save the "Train-Test" and Prodction Dataset

In [42]:
file = filepath + 'Emp_Attrition (OHE-train-test)' + ext_c
test.to_csv(file,index=False)
file = filepath + 'Emp_Attrition (OHE-prod)' + ext_c
prod.to_csv(file,index=False)

# Excel xlsx file ( Label Encoding / Boolean<br>to meaningful label )

In [43]:
file = filepath + 'Emp_Attrition (clean)' + ext_c

df = pd.read_csv(file)    # correl
df1 = pd.read_csv(file)   # clean

In [44]:
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,True,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,True,11,3,1,0,8,0,1,6,4,0,5
1,49,False,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,False,23,4,4,1,10,3,3,10,7,1,7
2,37,True,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,True,15,3,2,0,7,3,3,0,0,0,0

In [45]:
# specify the columns to be removed
# colremove = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']
# colremove = ['EmployeeNumber']

In [46]:
# drop the columns
# df.drop(columns=colremove,inplace=True)

In [47]:
Attrition = {True: 1, False: 0}
BusinessTravel = {'Non-Travel':1, 'Travel_Frequently':2, 'Travel_Rarely':3}
Department = {'Human Resources':1, 'Research & Development':2, 'Sales':3}
EducationField = {'Human Resources':1, 'Life Sciences': 2, 'Marketing':3, 'Medical':4, 'Technical Degree':5, 'Other':6}
Gender = {'Male':1, 'Female':2}
JobRole = {'Manager':1,'Human Resources':2,'Sales Executive':3,'Research Director':4,'Manufacturing Director':5,'Research Scientist':6,'Sales Representative':7,'Healthcare Representative':8,'Laboratory Technician':9}
MaritalStatus = {'Single':1 , 'Married': 2, 'Divorced': 3}
OverTime = {True: 1, False: 0}

In [48]:
def dfreplace(df,dic):
    return df.apply(lambda x: dic.get(x))

df.loc[:,'Attrition'] = dfreplace(df.loc[:,'Attrition'],Attrition)
df.loc[:,'BusinessTravel'] = dfreplace(df.loc[:,'BusinessTravel'],BusinessTravel)
df.loc[:,'Department'] = dfreplace(df.loc[:,'Department'],Department)
df.loc[:,'EducationField'] = dfreplace(df.loc[:,'EducationField'],EducationField)
df.loc[:,'Gender'] = dfreplace(df.loc[:,'Gender'],Gender)
df.loc[:,'JobRole'] = dfreplace(df.loc[:,'JobRole'],JobRole)
df.loc[:,'MaritalStatus'] = dfreplace(df.loc[:,'MaritalStatus'],MaritalStatus)
df.loc[:,'OverTime'] = dfreplace(df.loc[:,'OverTime'],OverTime)

In [49]:
df1['Attrition'] = df1['Attrition'].apply(lambda x: 'Left' if x else 'Stay')
df1['OverTime']  = df1['OverTime'].apply(lambda x: 'With_OT' if x else 'Without_OT')

In [50]:
df1.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Left,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,With_OT,11,3,1,0,8,0,1,6,4,0,5
1,49,Stay,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Without_OT,23,4,4,1,10,3,3,10,7,1,7
2,37,Left,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,With_OT,15,3,2,0,7,3,3,0,0,0,0

In [51]:
excelfile = filepath + 'Emp_Attrition (visual)' + ext_e

with pd.ExcelWriter(excelfile,
    mode='w') as writer:  
    df.to_excel(writer, sheet_name='correl',index=False)
    df1.to_excel(writer, sheet_name='clean',index=False)

# Info

In [52]:
file = filepath + 'Emp_Attrition (clean)' + ext_c

df = pd.read_csv(file)
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,True,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,True,11,3,1,0,8,0,1,6,4,0,5
1,49,False,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,False,23,4,4,1,10,3,3,10,7,1,7
2,37,True,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,True,15,3,2,0,7,3,3,0,0,0,0

In [53]:
cs = (~df['Attrition']).sum()
print(f'Current Strength = {cs}')

Current Strength = 1233

# End

In [54]:
print('Done')

Done